<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.personal.project.listxml.ListMapper">

	<select id="getProductList" resultType="com.personal.project.vo.ShopVO">
	SELECT num, name, com, price
	FROM shop
	</select>
</mapper>